#njam-container {
  font-size: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  fill: #333;
  margin: 0;
}

#njam-container div.btn-group.bootstrap-select {
  margin-bottom: 30px;
  width: 90%;
}

#njam-container h1 {
  font-size: 22px;
}


/* ---- isotope ---- */

.grid {
  width: 49%;
  height: 300px;
  float: left;

 /* border: 1px solid #333;*/

 
}
/*#county1 {
  float: left;
  width: 49%;
  float: left;

}*/

/* clear fix */
/*.grid:after {
  content: '';
  clear: both;
}*/

.grid2 {
  width: 49%;
  height: 300px;
  float: left ;
    /*border: 1px solid #333;*/
}

#both_grids {
  width: 100%;
  margin: auto;
}

/* clear fix */
/*.grid2:after {
  content: '';
  clear: both;
}*/

/*#both_grids:after {
  content: '';
  clear: both;
}*/

/* ---- .element-item ---- */

.element-item {
  position: relative;
  float: left;
  width: 250px;
  height: 250px;
  margin: 5px;
  padding: 10px;
  background: #F2F2F2;
  background-color: rgba(242, 242, 242, 0.5);
  border: 1px dashed black;
  color: #262524;
}

.element-item > * {
  margin: 0;
  padding: 0;
}



.element-item .symbol {
  text-align: center;
  margin: 0 auto;
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  color: steelblue;
}

.element-item .crit {
  text-align: center;
  margin: 0 auto;
  font-size: 15px;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  color: steelblue;
  margin-bottom: 5px;
}

.element-item .separate {
  color: #333;
  font-weight: bold;
}

.element-item .bolded {
  color: steelblue;
  font-weight: bold;
  font-size: 14px;
  padding-top: 0;

}

table {
  border-collapse: collapse;
  margin-top: 10px;

}

/*#criteria {
  display: block;
}*/


.element-item td,.element-item th {
  border: none;
  padding: 0.4rem;
}

.element-item th {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
}

.element-item img {
  width: 60px;
  display:block;
margin: 0 auto;
}

.element-item td {
  font-size: 11px;
  color: #666;
  font-family: Arial, sans-serif;
 
}

.element-item .separate2 {
  padding-top: 0.9rem;
}





@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  
}



#njam-container {
  font-family: 'Source Sans Pro', sans-serif;
}